<a href="https://colab.research.google.com/github/pCodePy/gColab/blob/master/MyColab_GetCommercialExchData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import necessary packages
import numpy as np
import pandas as pd

In [0]:
startDateStr = '20190101' # 1Dec 2019
endDateStr = '20190630'   # 5Dec 2019
dateList = [d.strftime('%d.%m.%Y') for d in pd.date_range(startDateStr, endDateStr)]
webAddrStr = 'http://eso.bg/?did=35&date='
webList = []
df = []

for i in range(len(dateList)):
    
    webList.append(webAddrStr + dateList[i])
    df.append(pd.read_html(webList[i]))

dfNew = pd.DataFrame(df)

In [0]:
### Filters the first rows of nonsense for each table
resList = []
for i in range(len(dfNew[1])):
    resList.append(dfNew[1][i])

In [0]:
for i in range(len(resList)):
    resList[i]['Date'] = dateList[i]
resList = pd.concat(resList)
#print(type(resList))  # <class 'pandas.core.frame.DataFrame'>
resList.rename(columns = {'Ð§Ð°Ñ': 'Time'}, inplace=True)
#resList.columns
#Index(['Time', 'BG to RO', 'RO to BG', 'BG to SR', 'SR to BG', 'BG to MK',
#       'MK to BG', 'BG to GR', 'GR to BG', 'BG to TR', 'TR to BG', 'Date'],
#       dtype='object')
resList

             Time  BG to RO  RO to BG  ...  BG to TR  TR to BG        Date
0   00:00 - 01:00       181         0  ...         0        90  01.01.2019
1   01:00 - 02:00       181         0  ...         0        90  01.01.2019
2   02:00 - 03:00       129         0  ...         0        80  01.01.2019
3   03:00 - 04:00       119         0  ...         0        80  01.01.2019
4   04:00 - 05:00        18         0  ...         0        64  01.01.2019
..            ...       ...       ...  ...       ...       ...         ...
19  19:00 - 20:00         0       196  ...         6         0  30.06.2019
20  20:00 - 21:00         0       200  ...         0         0  30.06.2019
21  21:00 - 22:00         0       283  ...        50         0  30.06.2019
22  22:00 - 23:00         0       261  ...        50         0  30.06.2019
23  23:00 - 00:00         0       330  ...       252         0  30.06.2019

[4344 rows x 12 columns]